.productlist {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.products {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  flex-direction: row;
}

.prevbuttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextbuttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}